.con-flex{
    width: 50%;
    display: flex;
    justify-content: space-between;
    background-color: #eee;

    h1{
        color: red;
    }
    ol{
width: 100%;
background-color: #757575;
    }
}